
TennisScoreUWP/.vs/TennisScoreUWP/v16/Server/sqlite3/db.lock
TennisScoreUWP/.vs/TennisScoreUWP/v16/Server/sqlite3/storage.ide
TennisScoreUWP/.vs/TennisScoreUWP/v16/Server/sqlite3/storage.ide-shm
TennisScoreUWP/.vs/TennisScoreUWP/v16/Server/sqlite3/storage.ide-wal
